<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
    </button>
    <div class="modal-title">This is a modal Window.</div>
</div>
<div class="modal-body">
    页面传给模态框的id值:<span>{{id}}</span><br> 页面传给模态框的grade值:
    <ul>
        <li ng-repeat="grade in grades">{{grade}}</li>
    </ul>
    <hr>
    <br>模态框传给页面的value值:<input type="text" ng-model="value">
    <br>模态框传给页面的name值:<input type="text" ng-model="name">
    <br>模态框传给页面的age值:<input type="text" ng-model="age">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确认</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>