<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="./modal/modal.css">
    <title></title>
</head>

<body>
    <ul ng-controller="ModalDemoCtrl" ng-app="ui.bootstrap.demo">
        <li><button value="点击我弹出小模态框" ng-click="openWindow('sm')">点击我弹出小模态框</button></li>
        <li><button value="点击我弹出大模态框" ng-click="openWindow('lg')">点击我弹出大模态框</button></li>
        <li><br>模态框传过来的value值: <span>{{value}}</span></li>
        <li><br>模态框传过来的name值: <span>{{name}}</span></li>
        <li><br>模态框传过来的age值: <span>{{age}}</span></li>
        <li><br>传到模态框的id值:<input type="text" ng-model="data.id"></li>
    </ul>

    <script src="./js/angular.js"></script>
    <script src="./js/ui-bootstrap-tpls.js"></script>
    <script src="./js/app.js"></script>
    <script src="./modal/modal.js"></script>
</body>

</html>